.services-page {
  background-color: #f6f6f6;
  padding: 40px 20px;
  font-family: 'Helvetica', sans-serif;
}

.services-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
}

.services-header h1 {
  font-size: 48px;
  font-weight: 600;
  color: #103166;
  margin-bottom: 20px;
}

.services-header p {
  font-size: 18px;
  color: #333;
}
