.alliances-section {
  background-color: white;
  padding: 5rem 0;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

.alliances-section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #103166;
  margin-bottom: 2.5rem;
}

.alliances-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
}

.alliances-grid .logo-box {
  width: 160px;          /* todos ocupan el mismo espacio */
  height: 100px;         /* controla la altura visual */
  display: flex;
  align-items: center;   /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
  background: white;     /* o transparente */
  border-radius: 8px;
}

.alliances-grid img {
  max-width: 100%;
  max-height: 80%;
  object-fit: contain;
  transition: transform 0.3s;
}

.alliances-grid img:hover {
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .alliances-grid img {
    width: 120px;
    height: 60px;
  }
}
