.alliances-section {
  background-color: white;
  padding: 5rem 0;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.alliances-section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #103166;
  margin-bottom: 2.5rem;
}

.alliances-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
}
.alliances-grid img {
  max-height: 4rem;   /* controla altura máxima */
  max-width: 10rem;     /* evita que algunos logos sean demasiado anchos */
  width: auto;          /* mantiene proporción */
  object-fit: contain;  /* asegura que se vea completo dentro del box */
  filter: #103166;
  transition: filter 0.3s, transform 0.3s;
}

.alliances-grid img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}